
@{
    ViewBag.Title = "Welcome";
}

@if (Session["UserName"] != null)
{
    <h2 class="text-success">Welcome, @Session["UserName"].ToString()!</h2>
    <h2>You have successfully logged in</h2>
}

<script type="text/javascript">
    setInterval(
        function ()
        {
            $.get("@Url.Action("CheckIfSessionExpired", "Account")", {}, function () {
                var url = '@Url.Action("Login", "Account")';
                window.location.href = url;
                
            });
        }, 4000)
</script>

